<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color = "primary">
      HomePage
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-button color="#fff" slot="end">
      <ion-icon name="log-out"></ion-icon>
      <p>Sign-out</p>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- <ion-card>
    <ion-img src="./../../assets/heroImg.jpeg"></ion-img>
  </ion-card> -->
  <app-banner [slides]="slides"></app-banner>

  <ion-header class="headingMain">
    <h1>Alumini Association</h1>
  </ion-header>
  <div class="startPara">
    <ion-text >
      Engineering College Ajmer prides itself on the success of its alumni. After successfully completing their academic years at the institute, our alumni went on to expand their wings and reached new heights, be it as entrepreneurs, industrialists, academicians, researchers, social cause champions, bureaucrats etc. We have had many notable alumni who have received national and international recognition in their respective professional fields. With more than 5500 alumni spanning across the globe, they have been instrumental in strengthening the image of Engineering College Ajmer.
      <br>
      Though their dreams took them in new directions, ECA alumni have always felt connected to their alma mater and hence, they have over the years nurtured the institute through their generous contributions. The spirit of Giving Back is reflected in every corner of the institute be it infrastructure development, scholarships, especially to girl students, financial support to various hobby clubs, set-up of different R&D labs and faculty chairs, donations to various community development sectors, environment etc. Established in 31.08.2022, Alumni Association of ECA is an independent registered body of more than xxxx alumni spanning across the world. Its mission is –
      <br><br>
      •To actively promote interaction & networking among its alumni.
      <br><br>
      •To be a pillar of support in their hour of need.
      <br><br>
      • To help realize the notion of Giving Back to the Alma mater.
      <br><br>
      •To function on a charitable basis, and to run the Association on ‘no profit-no loss’ basis’.
      <br><br>
      •To contribute to the vision and strengthen the image of ECA at national & international level. Alumni in different parts of the world have formed Chapters of their associations. These Chapters work actively towards promoting networking among themselves and with the institute as well. Organizing alumni Reunions is an integral part of the Alumni Association of ECA.
      <br><br>
    </ion-text>
    
    
    <ion-card >
        <ion-card-header>
          <ion-card-title>Top Donation</ion-card-title>
          <ion-card-subtitle>Recently</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-thumbnail slot="start">
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
              </ion-thumbnail>
              <ion-label>Alumini Name 1</ion-label>
              <ion-text>Donation Amount</ion-text>
              <ion-text>For Development of xyz</ion-text>
            </ion-item>
      
            <ion-item>
              <ion-thumbnail slot="start">
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
              </ion-thumbnail>
              <ion-label>Alumini Name 2</ion-label>
              <ion-text>Donation Amount</ion-text>
              <ion-text>For Development of xyz</ion-text>
            </ion-item>
      
            <ion-item>
              <ion-thumbnail slot="start">
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
              </ion-thumbnail>
              <ion-label>Alumini Name 3</ion-label>
              <ion-text>Donation Amount</ion-text>
              <ion-text>For Development of xyz</ion-text>
            </ion-item>
            
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
              </ion-thumbnail>
              <ion-label>Alumini Name 4</ion-label>
              <ion-text>Donation Amount</ion-text>
              <ion-text>For Development of xyz</ion-text>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      
      
    </div>
</ion-content>



