<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
     <div class="login">
       <ion-button>
        <ion-icon name="log-in">
      </ion-icon>Login
    </ion-button></div>
      <ion-menu-button>
        <!-- <img  src="../../assets/Screenshot_2024-01-02_190502-removebg-preview.png"> -->
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img id="nav" src="../../assets/white logo.png">
    </ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <app-banner [slides]="slides"></app-banner>
  </ion-card>
<div class="container">
  <h6 id="num">GECA in Numbers:</h6>
  <h1 >15000+</h1>ALUMNI
  <br>
  <h1>3000+</h1>Students On Campus
  <br>
  <h1>200+</h1>Faculty
</div>

<div id="content">
  <h2><b>Engagements</b></h2>
  <p><b> ipsum</b> dolor, sit amet consectetur adipisicing elit. Et est omnis dignissimos exercitationem animi debitis nam tempore quos inventore nihil, enim itaque, non ipsam excepturi voluptatum? Reprehenderit eius repellendus repellat?
  </div>
  <div class="reunion">
    <ion-icon name="school">
    </ion-icon><b> Alumni</b>
    <p>Celebrate your next mileston reunion with us!</p>
  </div>
  <div class="alumni">
    <ion-icon name="ribbon">
    </ion-icon><b> Alumni</b>
    <p>Celebrate your next mileston reunion with us!</p>
  </div>
  <div class="book">
    <ion-icon name="book">
    </ion-icon><b> Alumni</b>
    <p>Celebrate your next mileston reunion with us!</p>
  </div>
  <div class="trophy">
    <ion-icon name="trophy">
    </ion-icon><b> Alumni</b>
    <p>Celebrate your next mileston reunion with us!</p>
  </div>
  <div class="wallet">
    <ion-icon name="wallet">
    </ion-icon><b> Alumni</b>
    <p>Celebrate your next mileston reunion with us!</p>
  </div>


  <ion-card >
      <ion-card-header>
        <ion-card-title>Top Donation</ion-card-title>
        <ion-card-subtitle>Recently</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Alumini Name 1</ion-label>
            <ion-text>Donation Amount</ion-text>
            <ion-text>For Development of xyz</ion-text>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Alumini Name 2</ion-label>
            <ion-text>Donation Amount</ion-text>
            <ion-text>For Development of xyz</ion-text>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Alumini Name 3</ion-label>
            <ion-text>Donation Amount</ion-text>
            <ion-text>For Development of xyz</ion-text>
          </ion-item>
          
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Alumini Name 4</ion-label>
            <ion-text>Donation Amount</ion-text>
            <ion-text>For Development of xyz</ion-text>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    
  <div class="foot">
    <ion-icon name="location"></ion-icon><b>Address</b>
    <p>Room no. MZ-122, HAUZ KHAS, New Delhi, 110016, India</p>
    
    <ion-icon name="call"></ion-icon><b>Phone</b>
    <p>91+ 9827489342 (India)</p>

    <ion-icon name="mail"></ion-icon><b>Email</b>
    <p><a href="ecaajmer.ac.in">Alumniaffairs.ac.in</a></p>
    
    <!-- Page to follow -->
    <div class="logo"><H2>Follow us on:</H2>
    <ion-icon name="logo-instagram"><a href="instagram.in"></a></ion-icon>
    <ion-icon name="logo-github"><a href="github.in"></a></ion-icon>
    <ion-icon name="logo-google"><a href="ecajmer.ac.in"></a></ion-icon>
    <ion-icon name="logo-linkedin"><a href="ecajmer.ac.in"></a></ion-icon>
    </div>
  </div>


  <div class="note">
    <P>www.ecajmer.ac.in</P>ALUMNI OF GECA.
    <P>Developed by CS Students.</P>GECA
  </div>






</ion-content>





